.entry_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  min-width:0;
}
.entry_container {
  height: 55px;
  width: 55px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  background-image: var(--app-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
