.screen {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-image: var(--wall-paper);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  overflow: hidden;
  background-image: var(--wall-paper);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 844px) {
  .screen {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}
