.category {
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  height: 150px;
  min-height: 150px;
  flex-basis: 150px;
  width: 100vw;
  border-bottom: 1px solid #eee;
}

.title {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 30px;
  color: #333;
  user-select: none;
  flex-basis: 50px;
}
.sitelist{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100vw;
  flex-basis: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sitelist::-webkit-scrollbar {
  display: none;
}
