.iframe {
  z-index: 1;
  position: fixed;
  height: 0;
  width: 0;
  left: 50vw;
  top: 50vh;
  display: none;
  transition-duration: 0.5s;
  opacity: 0;
  background-color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.iframe::-webkit-scrollbar {
  display: none;
}

.show {
  height: 100vh;
  width: 100vw;
  left: 0px;
  top: 0px;
  display: block;
  opacity: 1;
}
